@import "./colores";
@mixin mixin_boton($color, $background, $border_style, $border_color, $margin, $font_style) {
    color: $color;
    background: $background;
    border-style: $border_style;
    border-color: $border_color;
    margin: $margin;
    font-style: $font_style;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
    background: $colorsecundario;
    .logo {
        height: 100%;
        width: auto;
    }
    a {
        color: $coloracento2;
        text-decoration: none;
        font-size: 2vw;
        margin-right: 0.75em;
        margin-left: 0.75em;
    }
    a:hover {
        color: $coloracento;
        text-decoration: none;
    }
}

footer {
    height: 8vh;
    width: 100%;
    background: $colorterciario;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: 100%;
        width: auto;
    }
    a {
        color: $coloracento2;
        text-decoration: none;
        font-size: 3vh;
        margin-right: 1em;
        margin-left: 1em;
    }
    a:hover {
        color: $coloracento;
        text-decoration: none;
    }
    img {
        height: 100%;
        width: auto;
    }
}

body {
    color: $coloracento2;
    background: $colorprincipal;
    font-family: 'Bebas Neue', cursive !important;
    .slider {
        display: flex;
        justify-content: center;
        img {
            border-style: solid;
            border-width: 10px;
            border-color: $coloracento;
            margin-top: 3vh;
            width: 40vw;
        }
        h5,
        p {
            color: $coloracento2;
            background-color: $colorsecundario;
            border-style: solid;
            border-color: $coloracento;
        }
    }
    .resto {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        img {
            margin-top: 2vh;
            margin-left: 3vw;
            margin-right: 3vw;
            width: 25vw;
            border-style: solid;
            border-width: 10px;
            border-color: $coloracento;
        }
    }
}

.busqueda {
    float: right;
    margin: 0.5vw;
}

.ok {
    @include mixin_boton($coloracento2, $coloracento, solid, grey, 0.5vw, none);
}

.error {
    @include mixin_boton($colorsecundario, $coloracento2, solid, grey, 0.1vw, none);
}

.btn-editar {
    @include mixin_boton($coloracento2, none, none, none, 0.1vw, italic);
}

.btn-editar:hover {
    @include mixin_boton($coloracento, none, none, none, 0.1vw, italic);
}

.btn-primary {
    @include mixin_boton($coloracento2, $coloracento, solid, grey, none, italic);
}

.btn-primary:hover {
    @include mixin_boton($colorsecundario, $colorprincipal, solid, grey, none, italic);
}

.user {
    border-style: solid;
    border-color: $coloracento;
    border-width: 1em;
    background: $colorsecundario;
    width: 50vw;
    height: 75vh;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
        font-size: 1.5vw;
    }
    input {
        height: 3vh;
        width: 50%;
        margin-bottom: 1.5vh;
    }
}

.editar {
    font-size: 2vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vw;
    input {
        padding: 0.25vw;
        width: 10vw;
        margin: 0.2vw;
    }
    h3 {
        margin: 0px;
    }
}

.comentario {
    height: 5vh;
    width: 20vw !important;
}

.platillo {
    font-size: 2vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    form {
        margin-left: 3vw;
        margin-right: 3vw;
    }
    input {
        padding: 0.25vw;
        width: 10vw;
        margin: 0.2vw;
    }
    h3 {
        margin: 0px;
    }
}

.ingredientes {
    font-size: 2vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    input {
        margin-left: 1vw;
        margin-right: 1vw;
        width: 10vw;
    }
}

.platillos {
    font-size: 2vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    input {
        margin-left: 1vw;
        margin-right: 1vw;
        width: 10vw;
    }
}

.wrapper-menus {
    margin: 2vw;
    width: 95%;
    .col {
        max-height: 30vh;
        min-width: 33vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $colorsecundario;
        margin: 1vw;
        padding: 1vw;
        border-style: solid;
        border-color: $coloracento;
        border-width: 0.5vw;
        img {
            width: 20vw;
        }
        .agregar {
            float: right;
            width: 3vw;
        }
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.wrapper-platillos {
    width: 95%;
    height: 70vh;
    background-color: $colorsecundario;
    margin: 1vw;
    padding: 1vw;
    padding-bottom: 3vw;
    border-style: solid;
    border-color: $coloracento;
    border-width: 0.5vw;
    .col {
        display: flex;
        flex-direction: column;
        justify-content: left;
        img {
            width: 50vw;
        }
        .agregar {
            margin-top: 2vh;
            height: 10vw;
            width: auto;
        }
    }
    .row {
        font-size: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    h1 {
        font-size: 2vw;
    }
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 5vw;
    }
    a {
        font-size: 5vw;
        text-decoration: none;
        color: $coloracento2;
    }
}

table {
    margin: 1vw;
    align-items: center;
    width: 98%;
    thead {
        th,
        td {
            font-size: 2vw;
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 1vw;
        }
    }
    tbody {
        th,
        td {
            font-size: 1vw;
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 1vw;
        }
    }
}

@media (max-width: 700px) {
    body {
        background: $colorprincipal;
        font-family: 'Bebas Neue', cursive;
        .slider {
            display: flex;
            justify-content: center;
            img {
                margin-top: 3vh;
                width: 50vw;
            }
        }
        .resto {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img {
                margin-top: 3vh;
                width: 50vw;
            }
        }
    }
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $colorsecundario;
            margin: 1vw;
            padding: 1vw;
            border-style: solid;
            border-color: $coloracento;
            border-width: 1vw;
        }
        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}