.firstbar {
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

footer {
    height: 10vh;
    width: 100%;
    background: rosybrown;
    position: absolute;
    bottom: 0px;
}